---

---

<div>
  <div class="form-container">
    <div class="col col-1">
      <div class="image-layer">
        <img src="" alt="" class="form-image-main" />
        <img src="" alt="" class="form-image dots" />
        <img src="" alt="" class="form-image coins" />
        <img src="" alt="" class="form-image spring" />
        <img src="" alt="" class="form-image rocket" />
      </div>
    </div>
  </div>
</div>
